<div class="footer">
    <!-- subscription -->
    <!-- <div class="default" [ngClass]="{'activeClass':active}" [ngStyle]="{'font-size':'26px'}">Footer active</div> -->
    <!-- menu -->
    <!-- <div *ngIf="active;else example_element"> test footer</div>
    contact info
    <ng-template #example_element>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquam exercitationem, fugiat aperiam minus porro qui? Dolorem quibusdam minima sunt totam expedita harum eaque at iste nesciunt? Delectus, eum laudantium?</ng-template> -->

</div>
